<div class="container row">
  <div class="margin col-md-1"></div>
  <div class="products-container col-md-8">
    <div class="row food-row" *ngFor="let product of products | async">
      <div class="product">
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </div>
  <form [formGroup]="filterForm" class="filters-container col-md-3" (ngSubmit)="submit()">
    <div class="name-title title">Name</div>
    <div class="row filter-row">
      <label>
        <input formControlName="name" type="text">
      </label>
    </div>
    <div class="row space"></div>
    <div class="weight-title title">Weight</div>
    <div class="row filter-row">
      <label>
        <input formControlName="weight" type="text">
      </label>
    </div>
    <div class="row space"></div>
    <div class="price-title title">Up To Price</div>
    <div class="row filter-row">
      <label>
        <input formControlName="upToPrice" type="text">
      </label>
    </div>
    <div class="row button-row">
      <button class="btn btn-dark filter-btn" (click)="clearFilters()">Clear</button>
      <button class="btn btn-dark filter-btn">Search</button>
    </div>
  </form>
</div>
