<div class="container row">
  <h3 class="col-md-8" *ngIf="!products.length">No Products</h3>

  <!-- Product list -->
  <div class="products-container col-md-8" *ngIf="products.length">
    <div class="row food-row" *ngFor="let product of products">
      <div class="product">
        <app-product [product]="product" (productDeleted)="removeProductFromList(product.id)"></app-product>
      </div>
    </div>
  </div>

  <div class="col-md-3 side-forms-container sticky-top">

    <!-- Search -->
    <form [formGroup]="filterForm" class="form-control side-form-container" (ngSubmit)="search()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="name">Weight</label>
        <div class="input-group">
          <input class="form-control" formControlName="minWeight" type="number" placeholder="Min">
          <div class="input-group-prepend">
            <span class="input-group-text">-</span>
          </div>
          <input class="form-control" formControlName="maxWeight" type="number" placeholder="Max">
        </div>
      </div>

      <div class="form-group">
        <label for="name">Price</label>
        <div class="input-group">
          <input class="form-control" formControlName="minPrice" type="number" placeholder="Min">
          <div class="input-group-prepend">
            <span class="input-group-text">-</span>
          </div>
          <input class="col form-control" formControlName="maxPrice" type="number" placeholder="Max">
        </div>
      </div>

      <div class="form-group button-row">
        <button class="btn btn-dark filter-btn" type="button" (click)="clearFilters()">Clear</button>
        <button class="btn btn-dark filter-btn">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Search
        </button>
      </div>
    </form>

    <!-- New product -->
    <form *ngIf="isAdmin" [formGroup]="newProductForm" class="form-control side-form-container" (ngSubmit)="addProduct()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && n.name.errors }">
        <div *ngIf="submitted && n.name.errors" class="invalid-feedback">
          <div *ngIf="n.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" formControlName="weight" class="form-control" [ngClass]="{ 'is-invalid': submitted && n.weight.errors }" />
        <div *ngIf="submitted && n.weight.errors" class="invalid-feedback">
            <div *ngIf="n.weight.errors.nonPositive">Weight must be positive</div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && n.price.errors }" />
        <div *ngIf="submitted && n.price.errors" class="invalid-feedback">
            <div *ngIf="n.price.errors.nonPositive">Price must be positive</div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add New Product
        </button>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    </form>
    
  </div>

</div>
