<div class="container row">
  <h3 *ngIf="!products.length">No Products</h3>
  <div class="products-container col-md-8" *ngIf="products.length">
    <div class="row food-row" *ngFor="let product of products">
      <div class="product">
        <app-product [product]="product" (productDeleted)="removeProductFromList(product.id)"></app-product>
      </div>
    </div>
  </div>
  <form [formGroup]="filterForm" class="filters-container col-md-3" (ngSubmit)="submit()">
    <div class="name-title title">Name</div>
    <div class="filter-row">
      <input formControlName="name" type="text">
    </div>
    <div class="row space"></div>
    <div class="weight-title title">Max Weight</div>
    <div class="filter-row">
      <input formControlName="maxWeight" type="number">
    </div>
    <div class="row space"></div>
    <div class="price-title title">Max Price</div>
    <div class="filter-row">
      <input formControlName="maxPrice" type="number">
    </div>
    <div class="row button-row">
      <button class="btn btn-dark filter-btn" type="button" (click)="clearFilters()">Clear</button>
      <button class="btn btn-dark filter-btn">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Search
      </button>
    </div>
  </form>
</div>
