<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=118638832234224&autoLogAppEvents=1"></script>
<div class="container">
  <video autoplay="autoplay" class="video" width="500" height="350" controls>
    <source src="../../assets/dog_gone_edit.mov">
    Your browser does not support the video tag.
  </video>
  <div class="twitter-container">
    <fb-post href="https://www.facebook.com/20531316728/posts/10154009990506729/"></fb-post>
  </div>
  <div class="map-container">
    <div class="map-title">
      <p>Our Stores</p>
    </div>
    <app-map [stores]="stores"></app-map>
  </div>
</div>
</body>
