<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Anipet</title>
</head>
<body>
<header class="container">
  <div class="row">
    <div class="col-4 logo-container">
      <a href="/">
        <img class="rounded float-left logo" src="../assets/logo1.png" alt="logo"/>
      </a>
    </div>
    <div class="col-6 header-center-container">
      <div class="connected-clients">
        There are<span class="text-danger p-1">{{ connectedClients }}</span>connected clients
      </div>
      <div class="weather">
        <h5>Weather</h5>
        <div class="weather-img">
          <img src="../assets/weather/cold.png" *ngIf="temperature <= 15">
          <img src="../assets/weather/nice.png" *ngIf="temperature > 15 && temperature < 25">
          <img src="../assets/weather/hot.png" *ngIf="temperature >= 25">
        </div>
        <span>It is {{ temperature }} degrees</span>
      </div>
    </div>
    <div class="col-2 user-management">
      <div class="row" *ngIf="isLoggedIn()">
        <span>Hello, {{ getUsername() }}!</span>
        <sign-out></sign-out>
      </div>
      <div class="row" *ngIf="!isLoggedIn()">
        <span>Hello Guest!</span>
        <div>
          <ng-template #signIn>
            <sign-in></sign-in>
          </ng-template>
          <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                  [ngbPopover]="signIn" [autoClose]="'outside'" popoverTitle="Sign In">
            Sign In
          </button>
          <ng-template #signUp>
            <sign-up></sign-up>
          </ng-template>
          <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                  [ngbPopover]="signUp" [autoClose]="'outside'" popoverTitle="Sign Up">
            Sign Up
          </button>
        </div>
        <div class="text-muted d-flex mt-2">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign in to order</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
</header>
<main>
  <router-outlet>
  </router-outlet>
</main>
<footer class="rights text-white bg-dark">
  <span>&copy; All rights reserved to Maor Refaeli, Kobi Avshalom and Shai Lieberman</span>
</footer>
</body>
