.logo
  margin-top: 5%

.buttons
  align-items: end
  text-align: right

.btn
  margin-right: 2%
  margin-top: 5%

.user-management
  direction: rtl

.greeting
  padding-top: 10%
  padding-right: 10%
  width: 100%

.weather
  direction: rtl
  padding-top: 1%
  padding-right: 5%
