<div class="row product-container">
  <div class="product-image col-md-4">
    <img alt="" src="../../../assets/foodPic.jpg">
  </div>
  <div class="info col-md-4">
    <div class="row title">
      <p> {{ product.name }}</p>
    </div>
    <div class="row weight">
      <p class="field-name">Weight:</p>&nbsp;
      <p> {{ product.weight }} kg</p>
    </div>
    <div class="row price">
      <p class="field-name">Price:</p>&nbsp;
      <p> {{ product.price | currency:"ILS" }}</p>
    </div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  </div>
  <div class="actions col-md-4">
    <button *ngIf="!isAdmin" class="btn btn-success order-button" (click)="order()">
      <mat-icon>shop</mat-icon>
      Order Now!
    </button>
    <button *ngIf="isAdmin &&!editMode" class="btn btn-primary" (click)="startEdit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <div *ngIf="isAdmin && editMode">
      <button class="btn btn-primary" (click)="update()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button class="btn btn-primary" (click)="stopEdit()">
        <mat-icon>close</mat-icon>
        Close
      </button>
    </div>
    <button *ngIf="isAdmin" class="btn btn-primary" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>
