<div class="row product-container">
  <div class="product-image col-md-4">
    <img alt="" src="../../../assets/foodPic.jpg">
  </div>
  <div class="info col-md-4">
    <div class="row title">
      <p> {{ product.name }}</p>
    </div>
    <div class="row weight">
      <p class="field-name">Weight:</p>&nbsp;
      <p> {{ product.weight }} kg</p>
    </div>
    <div class="row price">
      <p class="field-name">Price:</p>&nbsp;
      <p> {{ product.price | currency:"ILS" }}</p>
    </div>
  </div>
  <div class="col-md-4 order">
    <button class="btn btn-success order-button" (click)="order()">Order Now!</button>
  </div>
</div>
