.container {
  column-count: 2;
}

.heading {
  text-align: center;
}

.row {
  display: flex;
}

.row > line-chart  {
  flex: 1 1 auto;
  box-shadow: 1px 1px 4px 0 rgba(0, 0 , 0, 0.2);
}

.row > line-chart + line-chart {
  margin-left: 10px;
}

.row + .row {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .row > line-chart + line-chart {
    margin-left: 0;
    margin-top: 10px;
  }
}
